<div class="container m-auto pt-3">
  <div class="no-more-user-stories card border-0 p-3 m-auto">
    <h1>Hohe Fünf! 🙌</h1>
    <p>Glückwunsch, Schätzmeister! Du hast das Ende der Schätzungs-Piste erreicht und alle User Stories mit deiner Weisheit bedacht. Die Landkarte der Planung ist nun vollständig und wartet darauf, von dir in die Realität umgesetzt zu werden.</p>

    <p>Was nun? Nun, du kannst entweder zurück in die Arena der bereits geschätzten Stories springen, um deine Voraussagen zu überprüfen, oder eine wohlverdiente Pause einlegen. Vielleicht ist es auch an der Zeit für eine kleine Siegesrunde – denn solche Errungenschaften gehören gefeiert!</p>

    <p>Und wenn du den Ruf der Schätzabenteuer vermisst, fürchte dich nicht. Bald werden neue User Stories aus dem Reich der Ideen eintrudeln, bereit für deine geschätzte Aufmerksamkeit.</p>

    <h2>Bis dahin – halt die Würfel bereit!</h2>
  </div>

</div>
