<div *ngIf="this.user | async as user">
  <div class="modal-header" style="justify-content: center">
    <h4 class="modal-title" id="modal-basic-title">{{ user.firstName }} {{ user.lastName }}</h4>
  </div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Badge Overview</button>
      <ng-template ngbNavContent>
        <div *ngIf="badgeListAchieved as list; else noAchievements">
          <div style="display: flex; flex-wrap: wrap">
            <img
              *ngFor="let badge of list"
              class="icon"
              (click)="open(badge, content)"
              src="assets/{{ badge.badgeTag }}.png" />
          </div>
          <div *ngIf="list.length === 0; then noAchievements"></div>
        </div>
        <ng-template #noAchievements>
          <p style="margin-left: 8px; text-align: center">
            Unfortunately no Badges achieved... Keep on trying!
          </p>
        </ng-template>
        <div
          style="display: flex; flex-wrap: wrap"
          *ngIf="currentUser !== null && currentUser.userId === user.userId">
          <img
            *ngFor="let badge of badgeListNotAchieved"
            class="icon"
            [style]="additionalStyle(badge)"
            (click)="open(badge, content)"
            src="assets/{{ badge.badgeTag }}.png" />
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" *ngIf="currentUser !== null && currentUser.userId !== user.userId">
      <button ngbNavLink>Two</button>
      <ng-template ngbNavContent>
        <div style="display: flex; justify-content: space-between; margin: 8px">
          <p style="font-weight: bolder; min-width: 150px; text-align: center; margin-bottom: 4px">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <p style="font-weight: bolder; min-width: 150px; text-align: center; margin-bottom: 4px">
            Du
          </p>
        </div>
        <div
          style="display: flex; justify-content: space-between; margin: 8px"
          *ngFor="let group of badgeGroupedList">
          <div style="min-width: 150px; text-align: center">
            <img
              class="icon"
              src="assets/{{ group.user1.badgeTag }}.png"
              (click)="openByBadgeId(group, group.user1.achieved, content)"
              [style]="grayScaleStyleString(group.user1.achieved ? 0 : 1)" />
          </div>

          <div style="min-width: 150px; text-align: center">
            <img
              class="icon"
              src="assets/{{ group.user2.badgeTag }}.png"
              (click)="openByBadgeId(group, group.user2.achieved, content)"
              [style]="grayScaleStyleString(group.user2.achieved ? 0 : 1)" />
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div
    [ngbNavOutlet]="nav"
    class="mt-2"
    style="height: 60vh; max-height: 60vh; overflow-y: scroll"></div>

  <ng-template #content let-modal>
    <app-badge-modal [badge]="selectedBadge"></app-badge-modal>
  </ng-template>
</div>
