<div class="container m-auto">
  <div routerLink="/project" class="card shadow-sm border-0 m-auto p-4 mt-4">
    <h2>Bereit für das Abenteuer?</h2>
    <p>Willkommen, mutiger Schätzer! Hier beginnt deine Quest – das große Schätzen! Betritt die Arena der Zahlen, schärfe deinen analytischen Blick und pack deinen Taschenrechner aus. Es ist Zeit, Projekte nicht nur zu erleben, sondern sie mit deiner weisen Voraussicht zu meistern. Warte nicht länger, klicke auf Start und tauche ein in die Welt der Prognosen, wo nur die Tapfersten die echte Projektzeit enthüllen. Also, bist du bereit, das Review deines Lebens zu starten?</p>
    <a class="btn btn-success">Starte mit Deinen Schätzungen!</a>
  </div>
</div>
