
.card-flip {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 100vw;
  height: 420px;
  margin: auto;
  float: left;
  perspective: 1000px;
  overflow: visible;
  padding: 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-flip.flip .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front{
  font-size: 50px;
  padding: 20px;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  color: white;
  transform: rotateY( 180deg );
}
