<nav class="navbar navbar-light bg-light">
  <div style="display: flex">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
          alt=""
          width="30"
          height="24" />
      </a>
    </div>
    <a class="btn btn-lg btn-outline-primary" style="min-width: 160px" (click)="open(content)"
      >demo modal</a
    >
  </div>
  <div style="margin-right: 8px">
    <a class="text-decoration-none" (click)="open(content)">
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2" />
      <br />
      <strong>mdo</strong>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<ng-template #content let-modal>
  <app-user-modal-component [user]="this.currentUser$"></app-user-modal-component>
</ng-template>
