<div class="container">

  <div class="user-stories-overview card border-0 shadow-sm p-2 mt-3">
    <h1>Das Schätzkabinett erwartet euch!</h1>
    <p>Kühne Visionäre, sammelt euch! Vor euch liegt das kunterbunte Kaleidoskop unserer User Stories – jede einzelne eine Perle der Möglichkeiten. Bereitet eure weisesten Vermutungen vor, denn es ist an der Zeit, die Tiefen der Entwicklungsgeheimnisse zu ergründen.</p>

  </div>


  <div class="p-md-2 bg-white shadow-sm mt-2">
    <div class="d-flex justify-content-between">
      <h3>Bereit für die Schätzung</h3>
      <a class="btn btn-success" routerLink="flow/">Start</a>
    </div>

    <ng-container>
      <table class="table table-striped table-hover">
        <thead>
          <th></th>
          <th>Titel</th>
          <th>Bezeichnung</th>
          <th>Status</th>
          <th>Reviews</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of store.storiesOpenForReview">
            <td width="10px"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.description?.slice(0, 20) }}...</td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-success" [disabled]="!hasStateOpenStoriesForReview"
              routerLink="{{item.userStoryId}}/review/{{item.reviewId || 'new'}}"
              >
                Schätzen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #empty> [Empty Message] </ng-template>
  </div>

  <div class="p-md-2 mt-2 bg-white shadow-sm">
    <h3>Offene Stories</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th></th>
        <th>Titel</th>
        <th>Bezeichnung</th>
        <th>Status</th>
        <th>Reviews</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of store.storiesNotReviewed">
          <td width="10px"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.description?.slice(0, 20) }}...</td>
          <td></td>
          <td></td>
          <td>
            <a
              *ngIf="!item.stateOpenForReview"
              (click)="onSetStateOpenForReview(item)"
              class="btn btn-primary">
              Auf bereit setzten
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-md-2 mt-2 bg-white shadow-sm">
    <h3>Geschätzte Stories</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th></th>
        <th>Titel</th>
        <th>Bezeichnung</th>
        <th>Status</th>
        <th title="Eigene Schätzung">Schätzung</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of store.storiesReviewed">
          <td width="10px"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.description?.slice(0, 20) }}...</td>
          <td>
            Geschätzt
          </td>
          <td>
            {{item.estimation?.['estimationValue']}}
          </td>
          <td>
            <a class="btn btn-primary"  routerLink="{{item.userStoryId}}/review/{{item.estimation?.['estimationId']}}">
              Erneut schätzen
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
