<div class="container">
  <div class="user-stories-overview card border-0 shadow-sm p-2 mt-3">
    <h1>Das Schätzkabinett erwartet euch!</h1>
    <p>
      Kühne Visionäre, sammelt euch! Vor euch liegt das kunterbunte Kaleidoskop unserer User
      Stories – jede einzelne eine Perle der Möglichkeiten. Bereitet eure weisesten Vermutungen
      vor, denn es ist an der Zeit, die Tiefen der Entwicklungsgeheimnisse zu ergründen.
    </p>
    <p>
      Kühne Visionäre, sammelt euch! Vor euch liegt das kunterbunte Kaleidoskop unserer User
      Stories – jede einzelne eine Perle der Möglichkeiten. Bereitet eure weisesten Vermutungen
      vor, denn es ist an der Zeit, die Tiefen der Entwicklungsgeheimnisse zu ergründen.
    </p>
  </div>

  <div class="p-md-2 bg-white shadow-sm mt-2">
    <ng-container *ngIf="store.storiesOpenForReview as openForeReviews">
      <div class="d-flex justify-content-between">
        <h3>
          Stories bereit für die Schätzung <small>{{ openForeReviews.length }} von {{store.stories?.length}}</small>
        </h3>
        <div class="d-flex">
          <div style="margin-right: 4px; text-align: center" class="card border-2 shadow-sm p-2">
            <ngb-rating [rate]="8">
              <ng-template let-fill="fill" let-index="index">
                <i
                  class="bi-star{{ fill === 100 ? '-fill' : '' }}"
                  [class.filled]="fill === 100"
                  [class.low]="index < 3"></i>
              </ng-template>
            </ngb-rating>
            <p class="mt-2">Score: {{ this.completionPercent }} %</p>
          </div>
          <button [hidden]="!openForeReviews.length" class="btn btn-success" routerLink="flow/">
            Start
          </button>
        </div>
      </div>

      <table *ngIf="openForeReviews.length; else empty" class="table table-striped table-hover">
        <thead>
          <th></th>
          <th>Titel</th>
          <th>Bezeichnung</th>
          <th class="text-center" align="center">Reviews</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of openForeReviews">
            <td width="10px"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.description?.slice(0, 20) }}...</td>
            <td></td>
            <td></td>
            <td>

            </td>
            <td>
              <div class="d-flex">
                <ng-container *ngFor="let user of item.estimation?.['estimationsUsers']">
                  <div (click)="onUserSelectClick(user, userModal)" class="avatar shadow-sm">
                    U
                  </div>
                </ng-container>
              </div>
            </td>
            <td align="right">
              <button
                class="btn btn-success"
                [disabled]="!hasStateOpenStoriesForReview"
                routerLink="{{ item.userStoryId }}/review/{{ item.reviewId || 'new' }}">
                Schätzen
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #empty>
      <h6>Hohe Fünf! 🙌</h6>
      <p>
        Glückwunsch, Schätzmeister! Du hast das Ende der Schätzungs-Piste erreicht und alle User
        Stories mit deiner Weisheit bedacht.
      </p>
    </ng-template>
  </div>

  <div class="p-md-2 mt-2 bg-white shadow-sm">
    <h3>Offene Stories</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th></th>
        <th>Titel</th>
        <th>Bezeichnung</th>
        <th>Reviews</th>
        <th></th>
      </thead>
      <tbody *ngIf="store.storiesNotReviewed as notReviewed">
        <tr *ngFor="let item of notReviewed">
          <td width="10px"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.description?.slice(0, 20) }}...</td>
          <td>
            <div class="d-flex">
              <ng-container *ngFor="let user of item.estimation?.['estimationsUsers']">
                <div class="avatar shadow-sm" (click)="onUserSelectClick(user, userModal)">U</div>
              </ng-container>
            </div>
          </td>

          <td align="right">
            <a
              *ngIf="!item.stateOpenForReview"
              (click)="onSetStateOpenForReview(item)"
              class="btn btn-primary">
              Auf bereit setzten
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-md-2 mt-2 bg-white shadow-sm">
    <h3>Geschätzte Stories</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th></th>
        <th>Titel</th>
        <th>Bezeichnung</th>
        <th>Status</th>
        <th>Reviwers</th>
        <th></th>
        <th title="Eigene Schätzung">Eig. Schätzung</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of store.storiesReviewed">
          <td width="10px"></td>
          <td>{{ item.title }}</td>
          <td>{{ item.description?.slice(0, 20) }}...</td>
          <td>Geschätzt</td>
          <td>
            {{item.estimation?.['estimationValue']}}
          </td>

          <td>Geschätzt</td>
          <td>
            <div class="d-flex">
              <ng-container *ngFor="let user of item.estimation?.['estimationsUsers']">
                <div class="avatar shadow-sm" (click)="onUserSelectClick(user, userModal)">U</div>
              </ng-container>
            </div>
          </td>
          <td align="center" class="text-center">
            <p class="">{{item.estimation?.['estimationValue']}}</p>
          </td>
          <td align="right">
            <a
              class="btn btn-primary me-1"
              routerLink="{{ item.userStoryId }}/review/{{item.estimation?.['estimationId']}}">
              Erneut schätzen
            </a>
            <a class=" btn btn-secondary" routerLink="{{ item.userStoryId }}/result/">
              Resultat ansehen
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #userModal let-modal>
  <app-user-modal-component [user]="this.clickedUser$"></app-user-modal-component>
</ng-template>
